<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="css/book_search/style.css">
    <link rel="stylesheet" href="css/book_search/imported_css.css">
    <!-- <script src="https://kit.fontawesome.com/76f853596c.js" crossorigin="anonymous"></script> -->
    <title>Book Search</title>
</head>

<body>
    <div class="main" style="padding:50px 0px">
        <div class="sign-in">
            <div class="container">
                <!-- <div class="signin-content" style="padding-top:20px; display:block"> -->
                <!-- <div class="signin-image">
                        </div> -->

                <div>
                    <form method='POST' action='/mysql/'>
                        <h2 class="form-title" style="text-align:center; padding: 0 0 0 10%;">Book Search</h2>

                        <div class="search" style="padding: 0 0 0 15%;width:85% ">


                            <input name="title" id="search-book-title" style="padding:15px;border: 3px solid black;"
                                type="text" class="searchTerm" placeholder="What are you looking for?">
                            <button type="submit" class="searchButton"
                                style="border: 1px solid black; background:black">
                                <i class="fa fa-search"></i>
                            </button>

                        </div>


                        <div class="dropdown" style="display:inherit;">
                            <!-- <div class="dropdown-content"> -->
                            <input type="radio">lol<br>
                            <input type="radio" value="name">hods<br>
                            <input type="radio" value="sername">dsfdsf<br>
                            <input type="radio" value="fastherfs">sdfsdf<br>
                            <!-- </div> -->
                        
                        </div>
                        <button type="submit">"click here"</button>
                    </form>>
                </div>
                <div class="signin-form" id="div-table-detail">
                </div>
            </div>
        </div>
        
        </section>
    </div>
    
    <button type="submit">"click here"</button>
</body>
<script src="js/book_search/book-result.js"></script>

</html>