<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="css/book_search/style.css">
    <link rel="stylesheet" href="css/book_search/imported_css.css">
    <link rel="stylesheet" type="text/css" href="css/index/multirange.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://kit.fontawesome.com/76f853596c.js" crossorigin="anonymous"></script>
    <title>Book Search</title>
</head>
<link rel="stylesheet" type="text/css" href="css/common/nav.css">

<body style="background-color: #f8f8f8;">
    <!-- <div style=""> -->
    <div class="navbar">
        <a href="/"> <img src="images/index/logo.png" style="width: auto; height: inherit;"></a>
        <a href="/" style="height: 58px;">
            <h2 class="form-title" style="color: white;">Book Search</h2>
        </a>
        <div class="dropdown" style="height: 58px;">
            <button class="dropbtn">Profile
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/logout">logout</a>
                <a href="/profile">Profile</a>
                <a href="/book_entry">book entry</a>
                <!-- <a href="/"></a> -->
                <a href="/">index</a>
            </div>
        </div>
    </div>


    <div class="main" style="padding:20px ">
        <div class="sign-in" style="padding: 0px;">
            <div class="container" style="padding: 0px;">
                <div class="signin-content" style="padding-top:20px;">
                    <form method="POST" action="/mysql/advance_search">
                        <!-- to make the name input like this file:///C:/Users/SAMSUNG/Desktop/temp/colorlib-search-4/index.html -->

                        <div style="width:auto;">
                            <div style="display:inline-block ;margin: auto ; width: 10%;">
                                <input style="display:block ;margin-top: 15px;" type='checkbox'>
                                <input style="display: block;margin-top: 15px;" type='checkbox'>
                                <input style="display: block;margin-top: 15px;" type='checkbox'>
                                <input style="display: block;margin-top: 15px;" type='checkbox'>
                                <input style="display: block;margin-top: 15px;" type='checkbox'>
                                <input style="display: block;margin-top: 15px;" type='checkbox'>
                                <input style="display: block;margin-top: 15px;" type='checkbox'>
                                <input style="display: block;margin-top: 15px;" type='checkbox'>
                            </div>
                            <div style="display:inline-block; width: 40%;">
                                <p>word-containing</p>
                                <p>donation_from</p>
                                <p>Availibility</p>
                                <p>donation_to</p>
                                <p>owner</p>
                                <p>subject</p>
                                <p>publisher</p>
                            </div>
                            <div style="display:inline-block; width: 40%;">
                                <input style="display: block; line-height:10px; " name="book_title" type='text'>


                                <span class="multi-range" style="display: inline-block;">
                                    <input type="range" min="0" max="15" value="0" id="lower" name='lower_edition'>
                                    <input type="range" min="0" max="15" value="15" id="upper" name='upper_edition'>
                                </span>

                                <input style="display: inline-block; line-height:10px;" name="available_now"
                                    list="Availibility_option">
                                <datalist id="Availibility_option">
                                    <option value="availible">
                                    <option value="not availible">
                                    <option value="Both">

                                </datalist>
                                <!-- <input id="slider" style="display: block; line-height:10px;" name="edition" type='range' min='1' max='15'> -->
                                <!-- <p id="value_slider"></p> -->
                                <input style="display: inline-block; line-height:10px;" name="donation_from" type='date'
                                    data-date-inline-picker="true">
                                <input style="display: inline-block; line-height:10px;" name="donation_to" type='date'
                                    data-date-inline-picker="true">
                                <input style="display: inline-block; line-height:10px;" name="owner" type='text'>
                                <input style="display: inline-block; line-height:10px;" name="subject" list="subjects">
                                <input style="display: inline-block; line-height:10px;" name="publisher" type='text'>

                                <datalist id="subjects">
                                    <option value="maths">
                                    <option value="physics">
                                    <option value="chemistry">
                                    <option value="english">
                                    <option value="gk">

                                </datalist>

                            </div>
                        </div>
                        <button type="submit">find book</button>
                    </form>
                </div>
            </div>



        </div>
        </section>
    </div>
</body>
<script src="js/book_search/book-search.js"></script>
<script>var lowerSlider = document.querySelector('#lower'),
        upperSlider = document.querySelector('#upper'),
        lowerVal = parseInt(lowerSlider.value);
    upperVal = parseInt(upperSlider.value);

    upperSlider.oninput = function () {
        lowerVal = parseInt(lowerSlider.value);
        upperVal = parseInt(upperSlider.value);

        if (upperVal < lowerVal + 4) {
            lowerSlider.value = upperVal - 4;

            if (lowerVal == lowerSlider.min) {
                upperSlider.value = 4;
            }
        }
    };


    lowerSlider.oninput = function () {
        lowerVal = parseInt(lowerSlider.value);
        upperVal = parseInt(upperSlider.value);

        if (lowerVal > upperVal - 4) {
            upperSlider.value = lowerVal + 4;

            if (upperVal == upperSlider.max) {
                lowerSlider.value = parseInt(upperSlider.max) - 4;
            }

        }
    };
</script>

</html>