<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log in </title>
    <link rel="stylesheet" href="./../Public/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="./../Public/css/book_entry/style.css">
    <!-- <script src="https://kit.fontawesome.com/76f853596c.js" crossorigin="anonymous"></script> -->
</head>

<body>

    <div class="main">
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="./../Public/images/book_entry/signin-image.jpg" alt="sing up image"></figure>
                       </div>

                    <div class="signin-form">
                        <h2 class="form-title">Book Entry</h2>
                        <form method="POST" class="register-form" id="login-form" action="/mysql/book_entry">
                            <div class="form-group">
                                <label for="book_title"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" required="required" name="title" id="book_title"
                                    placeholder="Book Title" />
                            </div>
                            <div class="form-group">
                                <label for="author"><i class="zmdi zmdi-lock"></i></label>
                                <input type="text" name="author" required="required" id="book-author"
                                    placeholder="Author" />
                            </div>

                            <div class="form-group">
                                <label for="Publisher"><i class="zmdi zmdi-lock"></i></label>
                                <input type="text" name="publisher" id="book-publisher" placeholder="Publisher" />
                            </div>

                            <div class="form-group">
                                <label for="edition"><i class="zmdi zmdi-lock"></i></label>
                                <input type="number" name="edition" id="book-edition" placeholder="Edition" />
                            </div>

                            <div class="form-group">
                                <label for="year"><i class="zmdi zmdi-lock"></i></label>
                                <input type="text" name="for_year" id="book-ref-year" placeholder="For year" />
                            </div>

                            <div class="form-group">
                                <label for="subject"><i class="zmdi zmdi-lock"></i></label>
                                <input type="text" name="subject" id="book-subject" placeholder="Subject" />
                            </div>

                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Donate" />
                            </div>

                        </form>

                       
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="./../Public/js/book_entry/book_entry.js"></script>

</body>

</html>