<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/index/index.css">
    <link rel="stylesheet" type="text/css" href="css/index/multirange.css">
    <title>Document</title>

</head>

<body style="background-color: #ffffff;">
    <div style="display: flex;">
        <img src="images/index/logo.png" style="width: 4%; height: 4%;">
        <h2 class="form-title">Book Search</h2>
        <button type="submit">login/signup</button>
    </div>
    </section>

    <section class="search_bar">
        <div class="search">
            <input name="title" id="search-book-title" list="suggestion" type="text" class="searchTerm"
                placeholder="What are you looking for?" value="sdfas">
            <datalist id="suggestion">
                <!--- option will be loaded with using api --->
            </datalist>
            <button type="submit" class="searchButton" id="book_search-button"
                style="border: 1px solid black; background:black">
                <i class="fa fa-search">search</i>
            </button>
            <button type="submit" id="advance-button"><a href="/book_search">advance
                    search</a></button>

        </div>
    </section>


    <section class="data " style="justify-content: center; margin-top: 10px;">
       
        <!-- to be built using js-->
        <div id="book-data-holders" style="display: flex; flex-wrap:wrap;justify-content: center;">



        </div>
    </section>

    <!-- <section type=footer> -->
    <button type="submit" id="next"> next</button>
    <!-- </section> -->
</body>
<script src="js/jquery-3.4.1.js"></script>
<script src="js/index/index.js"></script>

</html>