<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Free Stylish Login Page Website Template | Smarteyeapps.com</title>

    <link rel="shortcut icon" href="/images/fav.jpg">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawsom-all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    <div class="container-fluid ">
        <div class="container ">
            <div class="row ">
                <div class="col-sm-10 login-box">
                    <div class="row">
                        <div class="col-lg-8 col-md-7 log-det">
                            <div class="small-logo">
                                <i class="fa fa-address-book" aria-hidden="true"></i> Book Issue System
                            </div>
                            <h2>Sign in to System</h2>
                            <div class="row">
                                <ul>
                                    <li><i class="fab fa-facebook-f"></i></li>
                                    <li><i class="fab fa-twitter"></i></li>
                                    <li><i class="fab fa-linkedin-in"></i></li>
                                    
                                </ul>
                            </div>
                            <div class="row">
                                <p class="small-info">or use your email account hitesh</p>
                            </div>


                            <div class="text-box-cont">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                    </div>
                                    <div style="display:none" id="result_message"></div>
                                    <input id="input_username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                </div></div>
                                 <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                                    </div>
                                    <input id="input_password" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                <div class="row">
                                    <p class="forget-p">Forget Password ?</p>
                                </div>
                                <div class="input-group center mb-3">
                                    <button class="btn btn-success btn-round" onclick="btn_()">SIGN IN</button>
                                </div>    
                            </div>
                            


                        </div>
                        <div class="col-lg-4 col-md-5 box-de">
                            <div class="ditk-inf">
                                <h2 class="w-100">New User </h2>
                                <p>Simply Create your account by clicking the Signup Button</p>
                                
                                <a href="HTML/signup.html">
                                <button type="button" class="btn btn-outline-light"  >SIGN UP</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="lol"></div>
</body>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
<script>{function btn_(){
var username = document.getElementById("input_username").value;
var password = document.getElementById("input_password").value;

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if(xhttp.responseText=="sucess"){document.open(`${document.URL.slice(0,document.URL.length - 10)}logged_in`);}
                else
                document.getElementById("result_message").innerHTML = xhttp.responseText;
                }
        };
        xhttp.open("POST", "http://localhost:5400/mongoose/login", true);
        xhttp.setRequestHeader("Content-type", "application/json;charset=UTF-8");
        // console.log(JSON.stringify(var_book_id));
        xhttp.send(JSON.stringify({"username":username ,"password":password}));

}}</script>
</html>
