<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/common/nav.css">

</head>
<body>
    <div class="navbar">
        <a href="/"> <img src="images/index/logo.png" style="width: auto; height: inherit;"></a>
        <a href="/" style="height: 58px;">
          <h2 class="form-title"  style="color: white;" >Book Search</h2>
        </a>
        <div class="dropdown" style="height: 58px;">
          <button class="dropbtn">Profile
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/logout">logout</a>
            <a href="/profile">Profile</a>
            <a href="/book_entry">book entry</a>
            <a href="/">index</a>
            <!-- <a href="/"></a> -->
          </div>
        </div>
      </div>


    <form method='POST' action="/mysql/update_user">
    <h1>pls enter your basic details</h1>
    <p>address</p><input name="address" type="text">
    <p>phone</p><input name="phone" type="text">
   
    <button type="submit">
submit</button>
    </form>
</body>
</html>