<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up </title>
    <link href="css/index/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="css/signup/style.css">
    <link rel="stylesheet" type="text/css" href="css/common/nav.css">
    <script src="https://kit.fontawesome.com/76f853596c.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="navbar" style="height: 97px;">
        <a href="/"> <img class="nav-logo-img" src="images/index/logo.png"></a>
        <a href="/" class="nav-title-a">
            <h2 class="form-title" style="color: black; padding-top:10px    ;">Book Search</h2>
        </a>

        <div class="dropdown">
            <button class="dropbtn"><i style="color: black; margin-left:0px;" class="fas fa-user-circle fa-2x"></i>
                </i>
            </button>
            <div class="dropdown-content">
                <a href="/login"> <i class="fas fa-sign-out-alt dropdown-list-item"></i>login/Signup</a>
                <a href="/"><i class="fas fa-home dropdown-list-item"></i>Home</a>
                <a href="/profile"><i class="fas fa-id-badge dropdown-list-item "></i>Profile</a>
                <a href="/book_entry"><i class="fas fa-clipboard-list dropdown-list-item"></i>Donate(registered)</a>
                      <!-- <a href="/"></a> -->

            </div>
        </div>
    </div>


    <div class="main" style="padding-top: 50px;padding-bottom: 50px;">
        <section class="signup" style="margin-bottom: 50px;">
            <div class="container">

                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>

                        <form method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <!-- only for svnitians or any similar pattern -->
                                <input type="text" required="required" name="username" id="username" pattern="[uUIipP][0-9]{2}(ec|me|co|ch|ce|py)[0-9]{3}"
                                    placeholder="Your Name" />
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" required="required" id="email"
                                    placeholder="Your Email" />
                            </div>



                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" autocomplete="off" onkeyup="check_pass()" name="password"
                                    id="password" placeholder="Password" />

                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <div style="display:flex">
                                    <input type="password" onkeyup="check_pass()" autocomplete="off" id="re_pass"
                                        placeholder="Repeat your password" />
                                    <img id="re-pass-error" class="re-pass-error"
                                        src="webfonts\re-pass-error.svg"></img>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all
                                    statements in <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="button" onclick="submit_btn()" name="signup" id="signup"
                                    class="form-submit-disabled" value="Register" />
                            </div>
                        </form>

                    </div>
                    <div class="signup-image">
                        <figure><img src="images/signup/signup-image.jpg" alt="sing up image"></figure>
                        <a id="link-to-login" class="signup-image-link" href="/login">I am already member</a>
                    </div>

                </div>
        </section>
    </div>


    <footer style="margin: 0px 0 0 0;display: flex;padding: 25px 0% 25px 50px;background-color: black;flex-wrap: wrap;">
        <div style="display: block;margin:auto;width:30%;min-width: 245px;">
          <h3 style="color: white;">About Us</h3>
          <h5 style="color: white;"> Address:</h5>
          <pre style="color: white;">
      Near Isschanath chakra,
      SVNIT,
      Dumas Road
      Surat
      </pre>
        </div>
    
    
        <div style="display: block;margin: auto;margin-top: 42px;width:30%;min-width: 250px;">
    
          <h5 style="color: white;">Have You any Question?</h5>
          <pre style="color: white;">
      hitesh08011999@gmail.com  
      </pre>
        </div>
    
        <div style="display: block;margin: auto;margin-top: 42px;width:32%;min-width: 250px;text-align: center;">
          <h3 style="color: white; margin-bottom: 11px; width:100%; text-align:center;">Follow Us </h3>
          <div>
            <i class="fab fa-facebook-f fa-2x" style="margin:0 10px;color: white;"></i>
            <i class="fab fa-twitter fa-2x" style="margin:0 10px ;color: white;"></i>
            <i class="fab fa-instagram fa-2x" style="margin:0 10px ;color: white;"></i>
    
          </div>
    
    
    
      </footer>
    

</body>
<script src="js/signup/signup.js"></script>

</html>