<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="jumbotron containers">
        <form>
            <div class="row ">
                <div class="col ">
                    <div class="form-group">
                        <label for="query">
                            <h5>Enter your Question </h5>
                        </label>
                        <div class="input-group">
                            <input name="query" id="query" class="form-control">

                            <div class="input-group-append"><button class="btn btn-dark">Ask</button></div>
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </div>
    <div class="container m-5">
        <h2>Discussion for the books related issued <small class="badge badge-dark"
                style="font-size: 12px; position:absolute;margin-left:5px;margin-bottom:4px;">Shared Publicy</small>
            </h5>
        </h2>

        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>

            <div class="conatiner media p-3">
                <img src="../Public/images/books/upload_0a6e245549e706c9e3157ac370837318.png"
                    style="border-radius:30px;width:50px;height:50px;">
                <div class="media-body">
                    <div class="container">
                        <h3>This is media</h3>
                        <p>write your doubt here</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>