<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/index/index.css">
    <link rel="stylesheet" type="text/css" href="css/common/nav.css">

</head>

<body>
    <div class="navbar">
        <a href="/"> <img src="images/index/logo.png" style="width: auto; height: inherit;"></a>
        <a href="/" style="height: 58px;">
            <h2 class="form-title">Book Search</h2>
        </a>
        <div class="dropdown" style="height: 58px;">
            <button class="dropbtn">Profile
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/logout">logout</a>
                <a href="/profile">Profile</a>
                <a href="/book_entry">book entry</a>
                <a href="/">index</a>
                <!-- <a href="/"></a> -->

            </div>
        </div>
    </div>

    <img src="images/user_profile/user_1.jpg">
    <div  style="display: block;"><label style="display: inline-block;">Books donated: </label><label style="display: inline-block;" id="lb-donated-book-num"></label></div>
    <div  style="display: block;"><label style="display: inline-block;">Books borrowed this year:</label><label style="display: inline-block;" id="lb-book-issue"></label></div>
    <div  style="display: block;"><label style="display: inline-block;">username: </label><label style="display: inline-block;" id ="lb-user-name">  </label></div>
    <div  style="display: block;"><label style="display: inline-block;">Email: </label><label style="display: inline-block;" id ="lb-user-email">  </label></div>
    <div  style="display: block;"><label style="display: inline-block;">Address: </label><label style="display: inline-block;" id ="lb-user-address">  </label></div>
    <div  style="display: block;"><label style="display: inline-block;">Phone no: </label><label style="display: inline-block;" id ="lb-user-phone">  </label></div>
    
    
    
    <p id="noti_tab"></p>
   
    <div id="book-data-holders" style="display: flex; flex-wrap: wrap;">





    </div>

    <div style="margin: auto; align-items: center;" >
        <button type="submit" id="previous"> Previous</button>
        <button type="submit" id="next"> Next</button>
        </div>
      
</body>
<script src="js/jquery-3.4.1.js"></script>

<script src="js/profile/profile.js"></script>

</html>